			.error {
				padding: 15px;
				margin-bottom: 20px;
				border: 1px solid transparent;
				border-radius: 4px;
				color: #a94442;
				background-color: #f2dede;
				border-color: #ebccd1;
			}
			
			.msg {
				padding: 15px;
				margin-bottom: 20px;
				border: 1px solid transparent;
				border-radius: 4px;
				color: #31708f;
				background-color: #d9edf7;
				border-color: #bce8f1;
			}
			
			#login-box {
				width: 300px;
				padding: 20px;
				margin: 50px auto;
				background: #fff;
				-webkit-border-radius: 7px;
				-moz-border-radius: 7px;
				border: 1px solid #000;
				border-radius: 7px; 
			}
